body {
background-color: #993300;
}

.text {
  font-family: serif;
  font-size: 20px;

}
#rightside {
  float:right;
  margin: 5px;
}

td {
  width: 900px;
  padding: 15px;
  border-radius: 15px;
  opacity: 0.60;
}

input {
margin: 3px;
padding: 6px;
}

.buttons {
  font-size: 23px;
font-family: serif;
background-color:#ff9999;
text-align: center;
}
td:hover {
    background-color: #FF00FF;
}
table {
    position: fixed;
}
#name {
font-size: 40px; }

#operationhr{
  background-color: #ff0000;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  border: solid black;
  padding: 8px;
  font-style: oblique;
  font-size: 20px;
}
#twitter {
  float:right;
  margin: 5px;
}

#lowrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
